<section class="section section-shaped section-lg">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container pt-lg-md">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card bg-secondary shadow border-0">
          <div class="px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h3><%= t ".get_started" %></h3>
            </div>
            <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                  </div>
                  <%= f.text_field :name, class: "form-control",
                    placeholder: "Name", autofocus: true, autocomplete: "name" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                  </div>
                  <%= f.email_field :email, class: "form-control",
                    placeholder: "Email", autofocus: true, autocomplete: "email" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-unlock-alt"></i>
                    </span>
                  </div>
                  <%= f.password_field :password, class: "form-control",
                    placeholder: "Password (6 characters minimum)",
                    autocomplete: "new-password" %>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-repeat"></i>
                    </span>
                  </div>
                  <%= f.password_field :password_confirmation, class: "form-control",
                    placeholder: "Password confirmation",
                    autocomplete: "new-password" %>
                </div>
              </div>

              <div class="actions text-center">
                <%= f.submit t(".create"), class: "btn btn-primary mt-4" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
