<%= form_for [:admin, @lesson], remote: true do |f| %>
  <div class="col-lg-5">
    <div class="card bg-secondary shadow border-0">
      <div class="card-header bg-white pb-5">
        <h1 class="lead text-center"><%= t ".title" %></h1>
        <%= f.label :name, class: "text-default" %>
        <%= f.text_field :name, required: true, class: "form-control",
                         autofocus: true %>
      </div>
      <div class="card-body px-lg-5 py-lg-5">
        <%= f.fields_for :lesson_words do |builder| %>
          <div class="container-fluid">
            <%= render "lesson_words_fields", f: builder %>
            <br>
            <br>
            <div class="row justify-content-center">
              <button type="button" class="btn btn-primary" id="add_word">Add more word</button>
              <div class="links">
                <%= link_to_add_association "Add more word", f, :lesson_words %>
              </div>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
