<div class="row justify-content-center">
  <div class="col-lg-5">
    <div><%= hidden_field_tag :lesson_id, @lesson.id %></div>
    <%= f.label :category, class: "text-default lead" %>
    <%= f.collection_select :category_id, @categories,
                                  :id, :name, {prompt: "Select category"}, required: false,
                                  class: "form-control",
                                  id: "category_select" %>
  </div>
  <div class="col-lg-5">
    <%= f.label :word, class: "text-default lead" %>
    <%= f.collection_select :word_id, @lesson_words,
                                  :id, :name, {prompt: "Select word"}, required: true,
                                  class: "form-control",
                                  id: "words_select" %>
  </div>
</div>